@font-face {
  font-family: "MG Mono";
  src: local("MG Mono"),
    url(./fonts/MonumentGrotesk-Mono.otf) format("truetype");
}

@font-face {
  font-family: "Suisse";
  src: local("Suisse"), url(./fonts/SuisseIntl-Regular.otf) format("truetype");
  font-weight: 400;
}

/* THAT GREEN 00FF29 */

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
